.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bgimg {
  background-image:linear-gradient(to right, #1A1A1A 18.97%, #1A1A1A 22.3%,  rgba(26, 26, 26, 0.0409746) 95.47%, #1A1A1A 100%), url(https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/tu-jhoothi-main-makkaar-et00347237-1675065103.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  object-position: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

